/* h1 {
    color: blue;
    background-color: orange;
} */
/* 
.headings-class {
    color: red;
    background-color: yellow;
} */

/* #box {
    height : 200px;
    width : 100px;
    background-color : dodgerblue;
    color: white;
    border: 1px solid black;
} */

/* body {
    background-color: pink;
} */

/* button {
    background-color: blue;
    color: white;
}

div {
    height: 100px;
    width: 100px;
    background-color: dodgerblue;
    color: white;
    border: 1px solid black;
} */

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: black;
}























